:root {
    --primary-color: #41978a;
    --secondary-color: #56a4ea;
    --rare-color: #73ddee;
    --background-color: white;
    --background-color-alt: #eae8f3;
    --dark: black;
}

body {
    margin: 0 0 0 0;
    background-color: var(--background-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 300px;
    max-height: 450px;
    background: var(--background-color);
    border: 1px solid white;
    box-shadow: 0px 0px 64px rgba(28, 92, 189, 0.75);
}

@media only screen and (max-width: 750px) {
    .card {
        width: 100ch;
        height: 100vh;
    }
}

.form {
    padding: 25px;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: var(--secondary-color);
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: var(--secondary-color);
}

.field {
    padding-bottom: 10px;
}

.input {
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 5px;
    width: 100%;
    color: var(--secondary-color);
    border: 1px solid #dadaf7;
}

.input:focus-visible {
    outline: 1px solid var(--secondary-color);
}

.input::placeholder {
    color: var(--background-color-alt);
}

label {
    color: gray;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}

.field button {
    background-color: var(--secondary-color);
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: 40px;
    width: 90px;
    font-weight: 500;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.field button:hover {
    background-color: rgb(0, 76, 240);
    cursor: pointer;
}

.rl {
    margin-left: 10px;
    color: rgb(192, 0, 0);
    text-decoration: none;
    font-size: 14px;
}

.chats {
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    color: var(--dark);
    padding: 15px 10px 15px 0;
    gap: 15px;
}

.chats-header {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
}

.account-setting svg {
    width: 28px;
    height: 28px;
}

.search-chats {
    padding-left: 10px;
}

.search-chats input {
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    padding-left: 40px;
    width: 90%;
    height: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search-chats svg {
    position: absolute;
    padding-left: 13px;
    padding-top: 10px;
    height: 24px;
    width: 24px;
}

.search-chats input:focus {
    outline: var(--secondary-color);
}

.chats-list {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    max-height: 65px;
}

.chat a {
    text-decoration: none;
}

.chat-photo {
    border: 2px solid var(--secondary-color);
    padding: 2px 2px 2px 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chat-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.chat-info {
    float: left;
    width: 70%;
    color: var(--dark);
}

.name-message {
    display: block;
    font-size: 18px;
}

.name-message div {
    font-size: smaller;
    color: gray;
}

.chat-time {
    float: right;
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
    color: var(--dark);
}

.profile-card {
    font-size: 23px;
    width: 100ch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--secondary-color);
}

.profile-header {
    height: 250px;
}

.profile-card .back-arrow {
    align-self: flex-start;
    margin-left: 5px;
}

.profile-card .back-arrow svg {
    height: 25px;
    width: 25px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    padding: 2px 2px 2px 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    align-self: flex-start;
    margin-left: 20px;
}

.profile-info .username {
    font-weight: bold;
}

.edit-profile {
    align-self: flex-end;
    margin-right: 20px;
}

.edit-profile a {
    text-decoration: none;
    font-size: 15px;
    color: red;
}

.chat-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.chat-header {
    height: 15%;
    padding: 5px 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.chat-header .back-arrow svg {
    height: 22px;
    width: 22px;
}

.chat-header .back-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
}

.chat-header .name {
    font-size: 20px;
}

.chat-header .status {
    font-size: smaller;
}

.chat-photo {
    width: 40px;
    height: 40px;
}

.chat-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-area {
    padding: 10px 7px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 5px;
    background-color: var(--background-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.messages {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    max-width: 60%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.sent {
    background-color: var(--secondary-color);
    color: var(--background-color);
    align-self: flex-end;
    border-end-end-radius: 0px !important;
    margin-right: 15px;
}

.received {
    border: 1px solid var(--secondary-color);
    color: var(--dark);
    align-self: flex-start;
    border-end-start-radius: 0px !important;
}

.write-message {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.write-message input {
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    padding-left: 40px;
    width: 800%;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}